body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
}
